<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>First</display-name>
  <welcome-file-list>
    <welcome-file>FirstPage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MaxdistanceServlet</display-name>
    <servlet-name>MaxdistanceServlet</servlet-name>
    <servlet-class>Sevlet.MaxdistanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaxdistanceServlet</servlet-name>
    <url-pattern>/MaxdistanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>Sevlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrucksServlet</display-name>
    <servlet-name>TrucksServlet</servlet-name>
    <servlet-class>Sevlet.TrucksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrucksServlet</servlet-name>
    <url-pattern>/TrucksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealDataServlet</display-name>
    <servlet-name>DealDataServlet</servlet-name>
    <servlet-class>Sevlet.DealDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealDataServlet</servlet-name>
    <url-pattern>/DealDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EndCustomerServlet</display-name>
    <servlet-name>EndCustomerServlet</servlet-name>
    <servlet-class>Sevlet.EndCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndCustomerServlet</servlet-name>
    <url-pattern>/EndCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tab2</display-name>
    <servlet-name>Tab2</servlet-name>
    <servlet-class>Sevlet.Tab2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tab2</servlet-name>
    <url-pattern>/Tab2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tag2Servlet</display-name>
    <servlet-name>Tag2Servlet</servlet-name>
    <servlet-class>Sevlet.Tag2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tag2Servlet</servlet-name>
    <url-pattern>/Tag2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelServlet</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>Sevlet.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/ExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer1Servlet</display-name>
    <servlet-name>Customer1Servlet</servlet-name>
    <servlet-class>Sevlet.Customer1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer1Servlet</servlet-name>
    <url-pattern>/Customer1Servlet</url-pattern>
  </servlet-mapping>
</web-app>